<h3>Региональные складские помещения</h3>
<div class="base-description">
  Фулфилмент — комплекс операций с момента оформления заказа покупателем и до момента получения им покупки. Термин используется без перевода. Как бизнес-услуга, фулфилмент наиболее востребован интернет-магазинами и часто передается на аутсорс фулфилмент-центрам
</div>
<div class="region-actions">
  <button type="button" (click)="setState(1)" class="region-btn" [class.active]="regionState == 1">Описание</button>
  <button type="button" (click)="setState(2)" class="region-btn" [class.active]="regionState == 2">Цены</button>
</div>
<div class="region-info-cover">
  <ng-container [ngSwitch]="regionState">
    <ng-container *ngSwitchCase="1">
      <p class="base-bold">Почему появляется вросший ноготь?</p>
      <div class="base-description">Поперечное плоскостопие, искривление пальцев на ноге, неправильная обработка ногтей с вырезанием уголков при маникюре, врожденная деформация стоп, широкие пальцы, гипергидроз стоп, псориаз, грибковые поражения, ногтевые дисплазии, перекрещивание пальцев; тяжелые нагрузки, большой вес, отморожение, травмы; узкая, на высоком каблуке не вентилируемая обувь; наследственный фактор; сердечнососудистые заболевания, сахарный диабет, варикозное расширение вен; воздействие химических агрессивных веществ.</div>
      <p class="base-bold">Какие симптомы вросшего ногтя?</p>
      <div class="base-description">
        Боль во время ходьбы, покраснение и отечность кожи на пальце, повышение температуры, возникновение гнойно-воспалительного процесса, острый угол ногтевой пластинки увеличивается и врастает в валик, появляется кровотечение; ногтевая пластинка тусклая и утолщенная.</div>
      <p class="base-bold">Лечение вросшего ногтя</p>
      <div class="base-description">Как правило, домашнее лечение не оказывает ожидаемого эффекта, а только ухудшает ситуацию.<br /><br />
        Поэтому, при малейшем подозрении на вросший ноготь, обращайтесь в клинику Рахат.<br /><br />
        Лечение осуществляется комплексно и зависит от степени и причин заболевания. Используются, как антибактериальные и смягчающие мази, так и хирургическое вмешательство с помощью скальпеля, лазерная коррекция, радиоволновой метод удаления; ортопедическое лечение проводится индивидуально: пластины, скобы, коррекции. .
      </div>
      <p class="base-bold">Профилактика вросшего ногтя</p>
      <div class="base-description">Правильно подбирать и носить удобную обувь; регулярно ухаживать за ногтями, подрезать не срезая уголков, не слишком коротко и по прямой линии; использовать ортезы, корректирующие стопы и снижающие давление на пальцы; своевременно лечить грибковые заболевания; при посещении бассейна и бани иметь сменную обувь, беречь пальцы от травм; не пользоваться чужой обувью.</div>
      <p class="base-bold">Когда стоит обращаться к врачу?</p>
      <div class="base-description">Правильно подбирать и носить удобную обувь; регулярно ухаживать за ногтями, подрезать не срезая уголков, не слишком коротко и по прямой линии; использовать ортезы, корректирующие стопы и снижающие давление на пальцы; своевременно лечить грибковые заболевания; при посещении бассейна и бани иметь сменную обувь, беречь пальцы от травм; не пользоваться чужой обувью.</div>
      <p class="base-bold">Когда стоит обращаться к врачу?</p>
      <div class="base-description">
        <ul>
          <li>Боль и покраснение ногтевого валика;</li>
          <li>Появление припухлости на большом пальце ноги;</li>
          <li>Выделение сукровицы и гноя.</li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <p class="base-bold">Цены</p>
      <div class="base-description">*Точную стоимость программ уточняйте в контакт-центре.</div>
      <div class="region-price-cover">
        <div class="region-price-head">
          <span>Наименование услуги</span>
          <span>Цена</span>
        </div>
        <div class="region-price-item">
          <span>Консультация</span>
          <span>4,750 ₸</span>
        </div>
        <div class="region-price-item">
          <span>Организация проекции</span>
          <span>750 ₸</span>
        </div>
        <div class="region-price-item">
          <span>Электро картография</span>
          <span>5,000 ₸</span>
        </div>
        <div class="region-price-item">
          <span>Видео</span>
          <span>40,750 ₸</span>
        </div>
        <div class="region-price-item">
          <span>Операция выполнения</span>
          <span>14,540 ₸</span>
        </div>
      </div>
      <div class="region-price-overall">
        <span>Итого:</span>
        <span>65, 790 ₸</span>
      </div>
    </ng-container>
  </ng-container>
</div>
