<h3>Региональные складские помещения</h3>
<div class="base-description">
  {{ 'FULFILLMENT_DESCRIPTION' | translate }}
</div>
<div class="region-actions">
  <button type="button" (click)="setState(1)" class="region-btn" [class.active]="regionState == 1">{{ 'DESCRIPTION' | translate }}</button>
  <button type="button" (click)="setState(2)" class="region-btn" [class.active]="regionState == 2">{{ 'PRICE' | translate }}</button>
</div>
<div class="region-info-cover">
  <ng-container [ngSwitch]="regionState">
    <ng-container *ngSwitchCase="1">
      <p class="base-bold">{{ 'WHY_NAILS' | translate }}</p>
      <div class="base-description">{{ 'WHY_NAILS_INFO' | translate }}</div>
      <p class="base-bold">{{ 'WHY_NAILS' | translate }}</p>
      <div class="base-description">{{ 'WHY_NAILS_INFO' | translate }}</div>
      <p class="base-bold">{{ 'WHY_NAILS' | translate }}</p>
      <div class="base-description">{{ 'WHY_NAILS_INFO' | translate }}</div>
      <p class="base-bold">{{ 'WHY_NAILS' | translate }}</p>
      <div class="base-description">{{ 'WHY_NAILS_INFO' | translate }}</div>
      <p class="base-bold">{{ 'WHY_NAILS' | translate }}</p>
      <div class="base-description">{{ 'WHY_NAILS_INFO' | translate }}</div>
      <p class="base-bold">{{ 'WHY_NAILS' | translate }}</p>
      <div class="base-description">
        <ul>
          <li>{{ 'WHY_NAILS' | translate }}</li>
          <li>{{ 'WHY_NAILS' | translate }}</li>
          <li>{{ 'WHY_NAILS' | translate }}</li>
        </ul>
      </div>
    </ng-container>
    <ng-container *ngSwitchCase="2">
      <p class="base-bold">{{ 'PRICE' | translate }}</p>
      <div class="base-description">{{ 'EXACT_PRICE_FROM_CONTACT_CENTER' | translate }}</div>
      <div class="region-price-cover">
        <div class="region-price-head">
          <span>{{ 'SERVICE_NAME' | translate }}</span>
          <span>{{ 'PRICE' | translate }}</span>
        </div>
        <div class="region-price-item">
          <span>{{ 'CONSULTATION' | translate }}</span>
          <span>4,750 ₸</span>
        </div>
        <div class="region-price-item">
          <span>{{ 'PROECTION_ORGANIZATION' | translate }}</span>
          <span>750 ₸</span>
        </div>
        <div class="region-price-item">
          <span>{{ 'ELECTRO_MAPPING' | translate }}</span>
          <span>5,000 ₸</span>
        </div>
        <div class="region-price-item">
          <span>{{ 'VIDEO' | translate }}</span>
          <span>40,750 ₸</span>
        </div>
        <div class="region-price-item">
          <span>{{ 'OPERATION_ACTION' | translate }}</span>
          <span>14,540 ₸</span>
        </div>
      </div>
      <div class="region-price-overall">
        <span>{{ 'OVERALL' | translate }}:</span>
        <span>65, 790 ₸</span>
      </div>
    </ng-container>
  </ng-container>
</div>
