<div class="footer-cover">
  <div class="footer-top-cover">
    <div class="footer-container">
      <div class="logo-cover">
        <img src="/assets/images/white-logo.png" />
        Yermesgroup
      </div>
      <div class="footer-links-cover">
        <a class="footer-link">Кто мы?</a>
        <a class="footer-link">Услуги</a>
        <a class="footer-link">Отзывы</a>
        <a class="footer-link">География услуг</a>
        <a class="footer-link">Контакты</a>
      </div>
    </div>
  </div>
  <div class="footer-main-cover">
    <div class="footer-container">
      <div class="footer-main-items">
        <div class="footer-main-item">
          <p class="footer-main-head">О нас</p>
          <a class="footer-main-text">Кто мы?</a>
          <a class="footer-main-text">Услуги</a>
          <a class="footer-main-text">Отзывы</a>
          <a class="footer-main-text">География услуг</a>
          <a class="footer-main-text">Контакты</a>
        </div>
        <div class="footer-main-item">
          <p class="footer-main-head">Услуги</p>
          <a class="footer-main-text">Региональные складские помещения</a>
          <a class="footer-main-text">Проверка наличия товаров по артикулам</a>
          <a class="footer-main-text">Доставка</a>
          <a class="footer-main-text">Приём заказов</a>
          <a class="footer-main-text">Упаковка</a>
          <a class="footer-main-text">Отслеживание статуса доставки</a>
        </div>
        <div class="footer-main-item">
          <p class="footer-main-head">Контакты</p>
          <a class="footer-main-text">г. Алматы, ул. Абая 27, офис 67</a>
          <a class="footer-main-text">info@ges.kz</a>
          <a class="footer-main-text">+7 727 399 94 04; +7 727 399 94 94;</a>
          <a class="footer-main-text">+7 727 399 94 94</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-cover">
    © Copyright 2014 - 2021 GES. All Rights Reserved.
  </div>
</div>
