<div class="contacts-cover" id="contacts">
  <div class="contacts-container">
    <h3>{{ 'OUR_CONTACTS' | translate }}</h3>
    <div class="contact-support">
      {{ 'MORE_THAN_25_CUSTOMER' | translate }}
    </div>
    <div class="contact-items">
      <div *ngFor="let contact of landingData?.contacts" class="contact-item">
        <div class="contact-city">{{ contact.city }}</div>
        <div class="contact-name">{{ contact.name }}</div>
        <div class="contact-street">{{ contact.street }}</div>
        <div class="contact-ways">
          <div class="contact-way">
            <span class="icon-cover">
              <span class="icon i-phone"></span>
            </span>
            {{ contact.phone }}
          </div>
          <div class="contact-way">
            <span class="icon-cover">
              <span class="icon i-whatsapp"></span>
            </span>
            {{ contact.whatsapp }}
          </div>
          <div class="contact-way">
            <span class="icon-cover">
              <span class="icon i-telegram"></span>
            </span>
            {{ contact.telegram }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="map-cover">
  <div id="YMapsID" class="yandex-map"></div>
</div>
<div class="footer-cover">
  <div class="footer-top-cover">
    <div class="footer-container">
      <div class="logo-cover">
        <img src="/assets/images/white-logo.png" />
        Yermesgroup
      </div>
      <div class="footer-links-cover">
        <a class="footer-link">{{ 'WHO_ARE_WE' | translate }}</a>
        <a class="footer-link">{{ 'SERVICES' | translate }}</a>
        <a class="footer-link">{{ 'REVIEWS' | translate }}</a>
        <a class="footer-link">{{ 'SERVICES_GEOGRAPHY' | translate }}</a>
        <a class="footer-link">{{ 'CONTACTS' |translate }}</a>
      </div>
    </div>
  </div>
  <div class="footer-main-cover">
    <div class="footer-container">
      <div class="footer-main-items">
        <div class="footer-main-item">
          <p class="footer-main-head">{{ 'ABOUT_US' | translate }}</p>
          <a class="footer-main-text">{{ 'WHO_ARE_WE' | translate }}</a>
          <a class="footer-main-text">{{ 'SERVICES' | translate }}</a>
          <a class="footer-main-text">{{ 'REVIEWS' | translate }}</a>
          <a class="footer-main-text">{{ 'SERVICES_GEOGRAPHY' | translate }}</a>
          <a class="footer-main-text">{{ 'CONTACTS' | translate }}</a>
        </div>
        <div class="footer-main-item --desktop">
          <p class="footer-main-head">{{ 'SERVICES' | translate }}</p>
          <a class="footer-main-text">{{ 'REGION_STOREHOUSE' | translate }}</a>
          <a class="footer-main-text">{{ 'ARTICUL_PRODUCT_CHECK' | translate }}</a>
          <a class="footer-main-text">{{ 'DELIVERY' | translate }}</a>
          <a class="footer-main-text">{{ 'GET_ORDER' | translate }}</a>
          <a class="footer-main-text">{{ 'PACKING' | translate }}</a>
          <a class="footer-main-text">{{ 'PACK_TRACKING' | translate }}</a>
        </div>
        <div class="footer-main-item">
          <p class="footer-main-head">{{ 'CONTACTS' | translate }}</p>
          <a class="footer-main-text">{{ 'STREET_INFO' | translate }}</a>
          <a class="footer-main-text">{{ 'EMAIL_INFO' | translate }}</a>
          <a class="footer-main-text">{{ 'PHONES_INFO' | translate }}</a>
          <a class="footer-main-text">{{ 'PHONE_INFO' | translate }}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom-cover">
    {{ 'COPYRIGHT_ALL_RIGHTS_RESERVED' | translate }}
  </div>
</div>
