@import "src/styles/colors";

.contacts-cover {
  padding: 50px 0;

  .contacts-container {
    width: 1400px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .contact-support {
    margin-top: 30px;
    text-align: center;
  }

  .contact-items {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;

    .contact-item {
      flex: 1;
      background-color: rgba(map-get($blue-palette, 500), 0.1);
      padding: 20px 25px;

      &:not(:first-child) {
        margin-left: 30px;
      }

      .contact-city {
        font-size: 13px;
      }

      .contact-name {
        color: map-get($blue-palette, 500);
        margin-top: 10px;
        font-weight: 700;
        font-size: 18px;
      }

      .contact-street {
        margin-top: 10px;
        font-size: 13px;
      }

      .contact-ways {
        display: flex;
        font-size: 12px;
        justify-content: space-between;
        margin-top: 20px;

        .contact-way {
          display: flex;
          align-items: center;
          white-space: nowrap;

          .icon-cover {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgba(map-get($blue-palette, 500), 0.3);
            margin-right: 5px;
          }
        }
      }
    }
  }
}

h3 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  color: map-get($gray-palette, 600);
}

.map-cover {
  .yandex-map {
    height: 300px;
  }
}

.footer-cover {
  background-color: map-get($blue-palette, 500);

  .footer-container {
    max-width: 1100px;
    width: 1100px;
    margin: 0 auto;
  }

  .footer-top-cover {
    border-bottom: 1px solid $white;

    .footer-container {
      display: flex;
      padding: 20px;

      .logo-cover {
        display: flex;
        align-items: center;
        font-size: 34px;
        font-weight: 700;
        font-family: Montserrat, serif;
        color: $white;

        img {
          margin-right: 10px;
        }
      }

      .footer-links-cover {
        display: flex;
        align-items: center;
        margin-left: auto;

        .footer-link {
          text-transform: uppercase;
          color: $white;

          &:not(:first-child) {
            margin-left: 20px;
          }
        }
      }
    }
  }

  .footer-main-cover {
    border-bottom: 1px solid $white;
    padding: 40px 0;

    .footer-main-items {
      display: flex;
      justify-content: space-between;

      .footer-main-item {
        color: $white;
        font-size: 14px;
        font-family: Montserrat, serif;

        .footer-main-head {
          font-weight: 700;
        }

        .footer-main-text {
          display: block;
          margin-top: 10px;
        }
      }
    }
  }

  .footer-bottom-cover {
    text-align: center;
    color: $white;
    padding: 25px 0;
    font-family: Montserrat, serif;
    font-size: 14px;
  }
}

@media (max-width: 679px) {
  .footer-cover {
    .footer-top-cover {
      display: none;
    }

    .footer-container {
      max-width: 100%;
      width: 100%;

      .footer-main-items {
        padding: 0 15px;

        .footer-main-item {
          &:not(:first-child) {
            margin-left: 15px;
          }
        }
      }
    }

    .footer-bottom-cover {
      font-size: 12px;
      padding: 15px 0;
    }
  }

  .contacts-cover {
    .contacts-container {
      width: 100%;

      .contact-items {
        flex-direction: column;

        .contact-item {
          &:not(:first-child) {
            margin-top: 20px;
            margin-left: 0;
          }

          .contact-ways {
            flex-wrap: wrap;

            .contact-way {
              &:nth-child(n + 2) {
                margin-top: 10px;
              }
            }
          }
        }
      }
    }
  }
}
