<div class="header-top-cover">
  <div class="header-top-content container">
    <div class="header-top-info">
      Многопрофильный фулфилмент сервис  “Yermesgroup”
    </div>
    <div class="header-top-language" #languageElement>
      <a class="set-language" (click)="toggleLanguage()">RU</a>
      <div class="languages-cover" [hidden]="!isActiveLanguage">
        <a class="language-item" (click)="setLanguage(languages.RU)">RU</a>
        <a class="language-item" (click)="setLanguage(languages.EN)">EN</a>
      </div>
    </div>
  </div>
</div>
<div class="header-main-cover --desktop">
  <div class="header-main-content container">
    <a class="logo-cover" routerLink="/">
      <img src="/assets/images/logo.png" />
      <span>Yermesgroup</span>
    </a>
    <a class="header-link" href="#support">Кто мы?</a>
    <a class="header-link" href="#how-works">{{ 'SERVICES' | translate }}</a>
    <a class="header-link" href="#comments">Отзывы</a>
    <a class="header-link" href="#worldmap">География услуг</a>
    <a class="header-link" href="#contacts">Контакты</a>
    <a class="login-link">Личный кабинет / Вход</a>
  </div>
</div>
<div class="header-mobile-cover --mobile">
  <button type="button" (click)="showMenu()" class="burger-btn bare-btn">
    <span class="icon i-burger-menu"></span>
  </button>
  <img src="/assets/images/logo.png" alt="Company logo" />
</div>
<div class="mobile-menu-cover" [class.active]="isActiveMenu">
  <a class="mobile-menu-item" (click)="hideMenu()" href="#support">Кто мы?</a>
  <a class="mobile-menu-item" (click)="hideMenu()" href="#how-works">{{ 'SERVICES' | translate }}</a>
  <a class="mobile-menu-item" (click)="hideMenu()" href="#comments">Отзывы</a>
  <a class="mobile-menu-item" (click)="hideMenu()" href="#worldmap">География услуг</a>
  <a class="mobile-menu-item" (click)="hideMenu()" href="#contacts">Контакты</a>
  <button type="button" (click)="hideMenu()" class="menu-close-btn bare-btn">
    <img src="/assets/icons/close.png" alt="Close icon" />
  </button>
</div>
