@import "src/styles/colors";

.header-top-cover {
  padding: 13px 0;
  background-color: map-get($blue-palette, 500);

  .header-top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    font-size: 12px;

    .header-top-info {
      font-family: Montserrat, serif;
    }

    .header-top-language {
      position: relative;

      .set-language {
        cursor: pointer;
        text-decoration: none;
      }

      .languages-cover {
        position: absolute;
        left: -50%;
        background-color: $white;
        border-radius: 4px;
        overflow: hidden;
        color: $black;

        .language-item {
          display: block;
          padding: 5px 10px;

          &:hover {
            background-color: map-get($gray-palette, 100);
          }
        }
      }
    }
  }
}

.header-main-cover {
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.06);

  .header-main-content {
    display: flex;
    align-items: center;
    padding: 13px 0;

    .logo-cover {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: 700;
      color: map-get($blue-palette, 500);
      text-decoration: none;

      img {
        margin-right: 10px;
      }
    }

    .header-link {
      margin-left: 45px;
      color: $black;
      text-decoration: none;
      font-size: 14px;
    }

    .login-link {
      margin-left: auto;
      font-size: 14px;
      color: map-get($gray-palette, 200);
    }
  }
}

.header-mobile-cover {
  padding: 10px 0;
  position: relative;
  text-align: center;

  .burger-btn {
    position: absolute;
    top: 22px;
    left: 10px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}

.mobile-menu-cover {
  display: none;
}

@media (max-width: 679px) {
  .mobile-menu-cover {
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 15;
    transition: 0.3s;
    padding: 50px;

    &.active {
      left: 0;
    }

    .menu-close-btn {
      position: absolute;
      top: 25px;
      right: 15px;
    }

    .mobile-menu-item {
      display: block;
      font-size: 22px;
      text-decoration: none;
      color: map-get($blue-palette, 500);

      &:not(:first-child) {
        margin-top: 25px;
      }
    }
  }
}
