<div class="header-top-cover --desktop">
  <div class="header-top-content container">
    <div class="header-top-info">
      Многопрофильный фулфилмент сервис  “Yermesgroup”
    </div>
    <div class="header-top-language">
      RU
    </div>
  </div>
</div>
<div class="header-main-cover --desktop">
  <div class="header-main-content container">
    <a class="logo-cover">
      <img src="/assets/images/logo.png" />
      <span>Yermesgroup</span>
    </a>
    <a class="header-link">Кто мы?</a>
    <a class="header-link">Услуги</a>
    <a class="header-link">Отзывы</a>
    <a class="header-link">География услуг</a>
    <a class="header-link">Контакты</a>
    <a class="login-link">Личный кабинет / Вход</a>
  </div>
</div>
<div class="header-mobile-cover --mobile">
  <button type="button" class="burger-btn bare-btn">
    <span class="icon i-burger-menu"></span>
  </button>
  <img src="/assets/images/logo.png" />
</div>
