$white: #FFFFFF;
$black: #000000;

$blue-palette: (
  500: #1882FD
);

$gray-palette: (
  100: #F4F5F7,
  200: #D9D9D9,
  300: #ECF2F4,
  400: #D9DBE1,
  500: #858585,
  600: #18191F,
  700: #666666
);
