@import "colors";

.--mobile {
  display: none;
}

.bare-btn {
  background-color: transparent;
  border: none;
}

.fulfillment-main-cover {
  h3 {
    font-size: 24px;
    font-weight: 500;
    color: map-get($gray-palette, 600);
  }

  .base-description {
    font-size: 15px;
    margin-top: 30px;
    color: map-get($gray-palette, 700);
  }

  .base-bold {
    display: block;
    margin-top: 20px;
    color: map-get($gray-palette, 700);
    font-size: 14px;
    font-weight: 500;
  }

  ul {
    padding-left: 15px;
    font-size: 14px;
    color: map-get($gray-palette, 700);

    li {
      margin-top: 10px;
    }
  }
}

@media (max-width: 679px) {
  .--desktop {
    display: none;
  }

  .--mobile {
    display: block;
  }
}
