.icon {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: inherit;

  &.i-phone {
    background-image: url("/assets/icons/phone.svg");
  }

  &.i-telegram {
    background-image: url("/assets/icons/telegram.svg");
  }

  &.i-whatsapp {
    background-image: url("/assets/icons/whatsapp.svg");
  }

  &.i-burger-menu {
    background-image: url("/assets/icons/burger-menu.svg");
  }
}
