.position-relative {
  position: relative !important;
}

.d-flex {
  display: flex !important;
}

.a-items-center {
  align-items: center !important;
}

.j-content-between {
  justify-content: space-between !important;
}

.j-content-center {
  justify-content: center !important;
}

.m-t-30 {
  margin-top: 30px !important;
}
