<h3>{{ 'FULFILLMENT' | translate }}</h3>
<div class="base-description">
  {{ 'FULFILLMENT_DESCRIPTION' | translate }}
</div>
<b class="base-bold">{{ 'ADVANTAGES' | translate }}</b>
<ul>
  <li>{{ 'NO_NEED_FOR_WAREHOUSE_AND_OFFICE' | translate }}</li>
  <li>{{ 'PAYMENT_ONLY_FOR_RESULT' | translate }}</li>
  <li>{{ 'HUNDRED_PERCENT_SECURITY' | translate }}</li>
  <li>{{ 'FREE_TIME' | translate }}</li>
  <li>{{ 'TEN_EMAILS' | translate }}</li>
  <li>{{ 'EASY_RESIZE' | translate }}</li>
</ul>
<h3 class="support-head">{{ 'FULFILLMENT_SERVICE_IS' | translate }}</h3>
<div class="base-step-cover">
  <div *ngFor="let step of landingData?.baseFulfillmentSteps; let i = index" class="base-step-item">
    <span class="base-number">{{ i + 1 }}</span>
    <p class="base-step-name">{{ step.name | translate }}</p>
    <p class="base-step-description">{{ step.description | translate }}</p>
  </div>
</div>
