<h3>Фулфилмент</h3>
<div class="base-description">
  Фулфилмент — комплекс операций с момента оформления заказа покупателем и до момента получения им покупки. Термин используется без перевода. Как бизнес-услуга, фулфилмент наиболее востребован интернет-магазинами и часто передается на аутсорс фулфилмент-центрам
</div>
<b class="base-bold">Преимущества</b>
<ul>
  <li>Не нужен офис и склад</li>
  <li>Оплата только за результат</li>
  <li>100% безопастность</li>
  <li>Свободное время</li>
  <li>Десятки отзывов и письм довольных клиентов </li>
  <li>Легкое маштабирование</li>
</ul>
<h3 class="support-head">Услуга фулфилмент это:</h3>
<div class="base-step-cover">
  <div *ngFor="let step of landingData?.baseFulfillmentSteps; let i = index" class="base-step-item">
    <span class="base-number">{{ i + 1 }}</span>
    <p class="base-step-name">{{ step.name }}</p>
    <p class="base-step-description">{{ step.description }}</p>
  </div>
</div>
