<div class="main-cover">
  <div class="main-block-overlay"></div>
  <div class="main-content container">
    <img src="/assets/images/woman-power.png" class="main-block-img" />
    <div class="main-info-cover">
      <div class="main-info-company">
        <img src="/assets/images/white-logo.png" /> Yermesgroup
      </div>
      <div class="main-text">
        {{ 'HELP_INTERNET_SHOPS' | translate }}
      </div>
      <div class="main-support">
        {{ 'OUR_FULFILLMENT_SERVICE' | translate }}
      </div>
    </div>
  </div>
</div>
<div class="support-cover" id="support">
  <div class="container">
    <h3>{{ 'HELP_INTERNET_SHOPS' | translate }}</h3>
    <div class="support-info">
      {{ 'WELCOME_TO_YERMESGROUP' | translate }}
      <br /><br />
      {{ 'OUR_FRIENDLY_TEAM' | translate }}
      <br /><br />
      {{ 'WE_HARD_WORK' | translate }}
    </div>
  </div>
</div>
<div class="advantages-cover">
  <div class="container">
    <h3>{{ 'OUR_ADVANTAGES' | translate }}</h3>
    <div class="advantage-items">
      <div *ngFor="let advantage of landingData?.advantages; let isLast = last" class="advantage-item">
        <div class="advantage-geometry">
          <span class="advantage-circle"></span>
          <span class="advantage-line" [class.is-last]="isLast"></span>
        </div>
        <p class="advantage-name">{{ advantage.name | translate }}</p>
        <p class="advantage-description">
          {{ advantage.description | translate }}
        </p>
      </div>
    </div>
  </div>
</div>
<div class="how-works-cover" id="how-works">
  <div class="container">
    <h3>{{ 'HOW_IT_WORKS' | translate }}</h3>
    <div class="how-works-items">
      <div *ngFor="let howWork of landingData?.howWorks" class="how-works-item">
        <div class="how-works-number">{{ howWork.index }}</div>
        <p class="how-works-name">
          {{ howWork.name | translate }}
        </p>
        <div class="how-works-description">
          {{ howWork.description | translate }}
        </div>
      </div>
    </div>
    <div class="how-works-tasks">
      <div *ngFor="let howTask of landingData?.howTasks" class="how-task-item">
        <a (click)="scrollToTop()" [routerLink]="howTask.link">{{ howTask.name | translate }}</a>
        <div class="how-task-options">
          <div *ngFor="let option of howTask.options" class="how-task-option">{{ option | translate }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="comments-cover" id="comments">
  <div class="position-relative container">
    <div class="comments-content">
      <h3>{{ 'CLIENT_REVIEWS' | translate }}</h3>
      <div class="comments-item">
        <img src="/assets/images/two-dots.png" class="two-dots" />
        <div class="comment-content" [innerHTML]="landingData?.comments[currentCommentIndex].content | translate"></div>
        <div class="comment-info-cover m-t-30">
          <div>
            <div class="comment-name">{{ landingData?.comments[currentCommentIndex].name | translate }}</div>
            <div class="comment-profession">{{ landingData?.comments[currentCommentIndex].profession | translate }}</div>
            <div class="comment-dots">
              <button *ngFor="let dot of landingData?.comments; let i = index" (click)="setCurrent(i)"
                      type="button" class="comment-dot" [class.active]="currentCommentIndex == i">
              </button>
            </div>
          </div>
          <img src="/assets/images/russia-mail.png" class="mail-marker" />
        </div>
      </div>
    </div>
    <img src="/assets/images/just-woman.png" class="comment-banner-img" />
  </div>
</div>
<div class="worldmap-cover" id="worldmap">
  <div class="container">
    <h3>{{ 'SERVICES_GEOGRAPHY' | translate }}</h3>
    <div class="--desktop">
      <img src="/assets/images/geography.png" alt="World map" />
    </div>
    <div class="--mobile">
      <img src="/assets/images/mobile-worldmap.svg" alt="World map" />
      <div class="worldmap-item">
        {{ 'SOUTH_AMERICA' | translate }}
      </div>
      <div class="worldmap-description">
        {{ 'PERU' | translate }}
      </div>
      <div class="worldmap-item">
        {{ 'AFRICA' | translate }}
      </div>
      <div class="worldmap-description">
        {{ 'MAROCCO' | translate }}
      </div>
      <div class="worldmap-item">
        {{ 'ASIA' | translate }}
      </div>
      <div class="worldmap-description">
        {{ 'RUSSIA' | translate }}
      </div>
    </div>
  </div>
</div>
<div class="feedback-cover">
  <div class="container">
    <h3>{{ 'CONNECT_US' | translate }}</h3>
    <div class="feedback-additional">{{ 'FEEDBACK_ADDITIONAL' | translate }}</div>
    <form class="form-group">
      <div class="form-name-phone">
        <label class="form-label">
          <input type="text" placeholder="{{ 'ENTER_YOUR_NAME' | translate }}" class="form-control" />
        </label>
        <label class="form-label --phone">
          <input type="text" placeholder="{{ 'ENTER_YOUR_PHONE' | translate }}: +7 (- - -) - - -  - -  - -" class="form-control" />
        </label>
      </div>
      <label class="form-label --comment">
        <textarea placeholder="{{ 'ENTER_YOUR_COMMENT' | translate }}" class="form-control --comment"></textarea>
      </label>
      <div class="form-additional">
        <span class="form-tip">
          {{ 'FORM_RULES' | translate }}
        </span>
        <button type="submit" class="form-btn">
          {{ 'ORDER_CALL' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
