<div class="container">
  <div class="breadcrumbs-cover">
    <a>{{ 'MAIN' | translate }}</a> / <a class="active">{{ 'FULFILLMENT_SERVICES' | translate }}</a>
  </div>
  <h2>{{ 'FULFILLMENT_SERVICES' | translate }}</h2>
  <div class="fulfillment-cover">
    <div class="fulfillment-menu-cover">
      <div class="fulfillment-menu">
        <a routerLink="/fulfillment/base" class="fulfillment-menu-item" routerLinkActive="active">{{ 'BASE' | translate }}</a>
        <a routerLink="/fulfillment/region" class="fulfillment-menu-item" routerLinkActive="active">{{ 'REGION_STOREHOUSE' | translate }}</a>
        <a class="fulfillment-menu-item" routerLinkActive="active">{{ 'ARTICUL_PRODUCT_CHECK' | translate }}</a>
        <a class="fulfillment-menu-item" routerLinkActive="active">{{ 'DELIVERY' | translate }}</a>
        <a class="fulfillment-menu-item" routerLinkActive="active">{{ 'GET_ORDER' | translate }}</a>
        <a class="fulfillment-menu-item" routerLinkActive="active">{{ 'PACKING' | translate }}</a>
        <a class="fulfillment-menu-item" routerLinkActive="active">{{ 'PACK_TRACKING' | translate }}</a>
      </div>
    </div>
    <div class="fulfillment-main-cover">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
